<html>
<head>
    <title>Clean Code Workshop</title>
</head>
<body>
<h1>Clean Code Workshop</h1>
<ul>
    <li>
        <a href="phpdoc">Documentation (PHPDoc)</a>
    </li>
    <li>
        <a href="phpmd">Mess Detector (PHPMD)</a>
    </li>
</ul>
</body>
</html>