<h3>Account</h3>
<div class="row">
    <div class="col-md-6">
        <label>
            Agency
        </label>
        <input type="text" name="account_agency" value="{{ account.agency }}" class="form-control">
    </div>
    <div class="col-md-6">
        <label>
            Number
        </label>
        <input type="text" name="account_number" value="{{ account.number }}" class="form-control">
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <label>
            Balance
        </label>
        <input type="text" readonly class="form-control" value="$ {{ account.balance }}">
    </div>
</div>