<h3>Account</h3>
<div class="row">
    <div class="col-md-6">
        <label>
            Agency
        </label>
        <input type="text" class="form-control">
    </div>
    <div class="col-md-6">
        <label>
            Number
        </label>
        <input type="text" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label>
            Balance
        </label>
        <input type="text" readonly class="form-control" value="0.10">
    </div>
</div>