{% extends 'base/base.html.twig' %}
{% block title %}<i class="glyphicon glyphicon-user"></i> Accounts{% endblock %}
{% block content %}
    <table class="table">
        <thead>
            <th>Number</th>
            <th>Customer</th>
            <th>Balance</th>
            <th></th>
        </thead>
        <tbody>
            <td>Number</td>
            <td>Customer</td>
            <td>Balance</td>
            <td></td>
        </tbody>
        <tfoot>
            <td colspan="4"></td>
        </tfoot>
    </table>
{% endblock %}