<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">
    <route id="index" path="/">
        <default key="_controller">controller.index:indexAction</default>
    </route>
    <route id="accounts" path="/accounts">
        <default key="_controller">controller.account:listAction</default>
    </route>
    <route id="account_create" path="/accounts/create">
        <default key="_controller">controller.account:createAction</default>
    </route>
    <route id="account_edit" path="/accounts/{id}/edit">
        <default key="_controller">controller.account:editAction</default>
    </route>
    <route id="account_entries" path="/accounts/{id}/entries">
        <default key="_controller">controller.account_entry:listAction</default>
    </route>
    <route id="code_standards" path="/quality/code-standards">
        <default key="_controller">controller.quality:codeStandardsAction</default>
    </route>
    <route id="mess_control" path="/quality/mess-control">
        <default key="_controller">controller.quality:messControlAction</default>
    </route>
    <route id="doc" path="/quality/doc">
        <default key="_controller">controller.quality:docAction</default>
    </route>
</routes>